<aside class="left-side sidebar-offcanvas">
    <section class="sidebar ">
        <div class="page-sidebar  sidebar-nav">
            <div class="nav_icons">
                <ul class="sidebar_threeicons">
                    <li>
                        <a href="{{ path('homepage') }}">
                            <i class="livicon" data-name="home" title="Visitez le site" data-c="#418BCA" data-hc="#418BCA" data-size="25" data-loop="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">
                            <i class="livicon" data-name="sign-out" title="Déconnexion" data-c="#418BCA" data-hc="#418BCA" data-size="25" data-loop="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <!-- BEGIN SIDEBAR MENU -->
            <ul id="menu" class="page-sidebar-menu">
                <li>
                    <a href="#">
                        <i class="livicon" data-name="medal" data-size="18" data-c="#00bc8c" data-hc="#00bc8c" data-loop="true"></i>
                        <span class="title">Sections</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="{{ path('Section_index') }}">
                                <i class="fa fa-angle-double-right"></i> Liste des Sections
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('Section_new') }}">
                                <i class="fa fa-angle-double-right"></i> Ajouter une Section
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="livicon" data-name="medal" data-size="18" data-c="#00bc8c" data-hc="#00bc8c" data-loop="true"></i>
                        <span class="title">Types d'Examen</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="{{ path('Type_examen_index') }}">
                                <i class="fa fa-angle-double-right"></i> Liste des Types d'Examen
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('Type_examen_new') }}">
                                <i class="fa fa-angle-double-right"></i> Ajouter une Type d'Examen
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="livicon" data-name="medal" data-size="18" data-c="#00bc8c" data-hc="#00bc8c" data-loop="true"></i>
                        <span class="title">Etudiants</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="{{ path('Etudiant_index') }}">
                                <i class="fa fa-angle-double-right"></i> Liste des Etudiant
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('Etudiant_new') }}">
                                <i class="fa fa-angle-double-right"></i> Ajouter un Etudiant
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
    </section>
    <!-- /.sidebar -->
</aside>