<div class="object comments">
    <div class="comments-container">
        {% if etudiant.messages is empty %}
            <p class="no-message-found" style="text-align:center">Envoyez un message</p>
        {% endif %}
        {% for message in etudiant.messages %}
            <div class="comment {% if message.receptor == true %}us{% else %}them{% endif %}">
                <p class="infos-sender">
                    {% if message.receptor == true %}
                        {{ prof.nom ~ ' ' ~ prof.prenom }}
                    {% else %}
                        {{ etudiant.user.nom ~ ' ' ~ etudiant.user.prenom }}
                    {% endif %}
                    ,
                    {% if message.createdAt|date('d/m/Y')==date()|date('d/m/Y') %}
                        {{ message.createdAt | date('H:i:s', false) }}
                    {% else %}
                        {{ message.createdAt | date('d/m/Y, H:i:s', false) }}
                    {% endif %}
                </p>
                <div class="comment-content">
                    {% if message.receptor == false %}
                        {% if prof.image == NULL %}
                            <img src="{{ asset('assets/public/users/images/defaultuser.png')}}" class="comment-user-photo">
                        {% else %}
                            <img src="{{asset('/assets/public/users/images/') ~ prof.image}}" class="comment-user-photo">
                        {% endif %}
                    {% else %}
                        {% if etudiant.user.image == NULL %}
                            <img src="{{ asset('assets/public/users/images/defaultuser.png')}}" class="comment-user-photo">
                        {% else %}
                            <img src="{{asset('/assets/public/users/images/') ~ message.etudiant.user.image}}" class="comment-user-photo">
                        {% endif %}
                    {% endif %}

                    <span>{{ message.content }}</span>
                </div>
            </div>
            <div class="clearfix"></div>
        {% endfor %}
    </div>
    <form id="send_comment" action="{{path('message',{'id':etudiant.id})}}" method="POST" autocomplete="off">
        <div class="fancy-field">
                <textarea class="input"
                          id="content"
                          name="content"
                          type="text"
                          value=""></textarea>
            <label for="content">Votre message</label>
        </div>

        <div>
            <button type="submit" class="btn btn-send-comment"><i class="fa fa-reply"></i></button>
        </div>
    </form>
</div>